//
//	layout.scss
//
html, 
body {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
}

img {
    display: block;
	max-width: 100%;
	height: auto;
}

code { color: hotpink; }

.sr-only,
.sr-text, 
.screen-reader-text {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

// Icons
#inline-svg {
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden;
}

// Content
.site-main {
	flex: 1;
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
}

// Posts
.post {
	position: relative;
	margin: 3.5rem 0 0;
	padding: 0 0 3.5rem;
	border-bottom: 1px solid #ececec;
	.entry-date {
		font-size: 16px;
		line-height: 1.25;
		color: $towergrey;
		margin: 0 0 1rem;
		a {
			color: $towergrey;
			&:hover {
				color: darken($towergrey, 20%);
				text-decoration: underline;
			}
		}
	}
	.entry-header {
		margin: 0 0 1rem;
	}
	.entry-title {
		line-height: 1;
		font-size: 36px;
		font-weight: 600;
		margin: 0 0 1rem;
		a {
			color: $riverbed;
			&:hover {
				color: $outerspace;
			}
		}
		@include media-breakpoint-up(md) {
			line-height: 1.05;
			margin: 0 0 1rem;
			font-size: 52px;
		}
	}
	.entry-content {
		font-size: 16px;
		line-height: 1.8;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		.more-link {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		@include media-breakpoint-up(md) {
			font-size: 18px;
			line-height: 2.125;
		}
	}
	.entry-footer {
		margin: 1.75rem 0 0;
		font-size: 16px;
		a {
			color: $slategrey;
			&:hover {
				text-decoration: underline;
			}
		}
		.icon-bubbles {
			color: $slategrey;
			margin-right: 4px;
		}
		@include media-breakpoint-up(md) {
			font-size: 18px;
		}
	}
	i.sticky {
		color: darken($mystic, 5%);
		font-size: 24px;
		position: absolute;
		right: 0;
		top: 0;
	}
	&:last-child {
		border-bottom: none;
	}
}

// Single
.single {
	.breadcrumbs {
		width: 90%;
		margin: 0 auto;
		border-bottom: 1px solid $mystic;
		padding: 1.5rem 0;
	}
	.post {
		margin-top: 2.5rem;
		.entry-date {
			margin-bottom: 2rem;
		}
		.subhead {
			font-size: 21px;
			color: $gray-900;
			font-weight: 500;
			line-height: 1.35;
			margin-bottom: 1.25rem;
			color: $riverbed;
		}
		p {
			margin-bottom: 1.5rem;
			& ~ h2,
			& ~ h3 {
				margin-top: 3rem;
			}
		}
		.entry-content {
			h2 {
				margin-bottom: 1.5rem;
			}
		}
		pre:last-child {
			margin-bottom: 3rem;
		}
	}
	.about-author {
		overflow: hidden;
		padding: 2rem;
		.follow-btn {
			display: inline-block;
			border: 2px solid $mystic;
			color: $towergrey;
			border-radius: 4px;
			font-size: 13px;
			font-weight: bold;
			margin-left: 10px;
			padding: 0 6px;
			&:hover {
				text-decoration: underline;
				border-color: darken($mystic, 8%);
				color: $slategrey;
			}
		}
		.avatar {
			border-radius: 500px;
			float: left;
			margin-top: 0.5rem;
		}
		h4 {
			color: $riverbed;
			margin-left: 85px;
		}
		p {
			color: $towergrey;
			margin-left: 85px;
			font-size: 14px;
		}
	}
	#disqus_thread {
		margin-bottom: 2rem;
	}
}

// Home
.home {
	.masthead {
		position: relative;
		text-align: center;
		.portrait {
			width: 125px;
			height: 125px;
			margin: 0 auto 1rem;
			display: block;
			border-radius: 100%;
		}
		.intro {
			max-width: 700px;
			border-bottom: 1px solid $mystic;
			padding: 3rem 0;
			position: relative;
			margin: 0 auto;
		}
		.title {
			line-height: 1;
			margin: 0 0 0.75rem;
			font-size: 36px;
			font-weight: 500;
			letter-spacing: -.15rem;
		}
		.subtitle {
			margin: 0;
			font-size: 18px;
			line-height: 1.25;
			font-weight: 300;
			font-style: italic;
			color: $slategrey;
		}
		.social {
			margin: 1rem 0 0;
			padding: 0;
			text-align: center;
			li {
				display: inline-block;
				margin-right: 1rem;
				a {
					transition: color 250ms ease-out;
					color: $towergrey;
					font-size: 28px;
					display: inline-block;
					&:hover {
						color: $slategrey;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.subhead {
		display: none;
	}
}

// Footer 
.footer {
	background: $catskill;
	border-top: 1px solid $mystic;
	p {
		font-size: 16px;
		line-height: 1.45;
		padding: 3rem 0;
		text-align: center;
		color: $towergrey;
		margin: 0;
		a {
			color: $towergrey;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

// Different Button Style
.file-name {
	vertical-align: middle;
	line-height: 1;
	display: inline-block;
	padding: 4px;
	border: 1px solid $mystic;
	color: $towergrey;
	font-size: 13px;
	border-radius: 4px;
}

// Breadcrumbs
.breadcrumbs {
	padding: 1.5rem 0 0;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	ul {
		margin: 0;
		padding: 0;
		li {
			margin-right: 5px;
			display: block;
			float: left;
			color: $towergrey;
			a {
				color: $towergrey;
				display: inline-block;
				&:hover {
					color: $slategrey;
				}
			}
		}
	}
}

// Pagination
.pagination {
	margin: 1.5rem 0 4rem;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	color: $towergrey;
	a {
		display: inline-block;
		padding: 8px 10px;
		color: $slategrey;
		border: 2px solid $mystic;
		border-radius: 500px;
		&:hover {
			text-decoration: underline;
			color: $riverbed;
			border-color: darken($mystic, 5%);
		}
	}
	.prev-col,
	.next-col {
		text-align: center;
	}
	.pages {
		padding: 10px 0;
		text-align: center;
		display: inline-block;
		font-size: 16px;
	}
	@include media-breakpoint-up(sm) {
		a {
			padding: 8px 20px;
		}
		.prev-col {
			text-align: left;
		}
		.next-col {
			text-align: right;
		}
	}
}

// 404
.error404 {
	#main {
		text-align: center;
		.dc {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		h1 {
			line-height: 1.25;
			font-size: 96px;
			font-weight: 900;
		}
		p {
			color: $towergrey;
			font-size: 18px;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
