//
//	typography.scss
//

// Font stacks
$sans-font-stack: Roboto;

body {
	font-family: $sans-font-stack;
}

// Headers
h1, h2, h3,
h4, h5, h6 {
	color: $riverbed;
	font-weight: 500;
	font-family: $sans-font-stack;
}

// Header Sizes
h1 { font-size: 52px; }
h2 { font-size: 36px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }

// Links
a {
	text-decoration: none;
	color: $outerspace;
	&:hover {
		color: lighten($outerspace, 8%);
		text-decoration: none;
	}
}

// Paragraph
p {
	color: $outerspace;
}
