//
//	variables.scss
//

// colors - http://chir.ag/projects/name-that-color/
$outerspace: #232e34; 
$riverbed: #43555e;
$slategrey: #798891;
$towergrey: #a9b8c1;
$mystic: #ebf2f6;
$catskill: #f7fafb;


// $outerspace: #222; 
// $riverbed: #444;
// $slategrey: #777;
// $towergrey: #aaa;
// $mystic: #ebebeb;
// $catskill: #f7f7f7;